#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp ESC           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3   &kp NUMBER_4  &kp NUMBER_5        &kp NUMBER_6    &kp N7      &kp N8     &kp N9   &kp N0     &kp BACKSPACE
&kp TAB           &kp Q         &kp W         &kp E          &kp R         &kp T               &kp Y           &kp U       &kp I      &kp O    &kp P      &kp LBKT
&kp LEFT_CONTROL  &kp A         &kp S         &kp D          &kp F         &kp G               &kp H           &kp J       &kp K      &kp L    &kp SEMI   &kp APOS
&kp LEFT_SHIFT    &kp Z         &kp X         &kp C          &kp V         &kp B               &kp N           &kp M       &kp COMMA  &kp DOT  &kp FSLH   &kp ENTER
&kp LEFT_ALT      &kp LEFT_GUI  &kp SPACE     &kp RIGHT_ALT  &mo 1         &studio_unlock      &studio_unlock  &kp DELETE  &mo 1      &mo 2    &kp MINUS  &kp EQUAL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_NEXT C_PREV>;
        };

        layer_1 {
            bindings = <
&kp GRAVE  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5      &kp F6  &kp F7    &kp F8    &kp F9     &kp F10  &trans
&trans     &kp F11  &kp F12  &trans  &trans  &trans      &trans  &trans    &kp UP    &trans     &trans   &kp RBKT
&trans     &trans   &trans   &trans  &trans  &trans      &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans   &kp DOUBLE_QUOTES
&trans     &trans   &trans   &trans  &trans  &trans      &trans  &trans    &trans    &trans     &trans   &trans
&trans     &trans   &trans   &trans  &trans  &trans      &trans  &trans    &trans    &trans     &trans   &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans           &trans       &trans         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &kp INS  &kp HOME         &kp PAGE_UP  &kp PAGE_DOWN  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &kp END  &kp PRINTSCREEN  &trans       &trans         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans           &trans       &trans         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans           &trans       &trans         &trans  &trans
            >;
        };
    };
};
